<div class="container my-4">
  <h1 class="text-center text-primary mb-4">Caregivers List</h1>

  <!-- Tabela de Cuidadores Sem Suporte -->
  <h3 class="text-secondary mb-3">Caregivers Without Support</h3>
  <% if @caregivers_without_support.any? %>
    <table class="table table-striped table-hover shadow-sm">
      <thead class="table-secondary text-center">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @caregivers_without_support.each do |caregiver| %>
          <tr>
            <td><%= caregiver.name %></td>
            <td><%= caregiver.email %></td>
            <td><%= caregiver.phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-muted">All caregivers are assigned to supports.</p>
  <% end %>

  <!-- Tabela de Todos os Cuidadores -->
  <h3 class="text-secondary mt-5">All Caregivers</h3>
  <table class="table table-striped table-hover shadow-sm" style="table-layout: fixed;width: 100%;">
    <thead class="table-primary text-center">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Skills</th>
        <th>Actions</th>
      </tr>
    </thead>
      <tbody>
      <% @caregivers.each do |caregiver| %>
        <tr style="height:100%">
          <td style="vertical-align: middle; height:100%"><%= caregiver.name %></td>
          <td style="vertical-align: middle; height:100%"><%= caregiver.email %></td>
          <td style="vertical-align: middle; height:100%"><%= caregiver.phone %></td>
          <td style="vertical-align: middle; height:100%">
            <% caregiver.skills.each do |skill| %>
              <span class="badge bg-light text-dark border border-secondary"><%= skill.name %></span>
            <% end %>
          </td>
          <td style="vertical-align: middle; height:100%">
            <%= link_to caregiver_path(caregiver), class: "text-primary me-3", title: "Show", style: "text-decoration: none;" do %>
              <i class="far fa-eye" style="font-size: 1.2rem;"></i>
            <% end %>
            <%= link_to edit_caregiver_path(caregiver), class: "text-primary me-3", title: "Edit", style: "text-decoration: none;" do %>
              <i class="far fa-edit" style="font-size: 1.2rem;"></i>
            <% end %>
            <%= link_to caregiver_path(caregiver), method: :delete, data: { confirm: "Are you sure?" }, class: "text-primary", title: "Destroy", style: "text-decoration: none;" do %>
              <i class="far fa-trash-alt" style="font-size: 1.2rem;"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center mt-4">
    <%= link_to 'Add New Caregiver', new_caregiver_path, class: 'btn btn-primary' %>
  </div>
</div>
