<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ApoiAR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <!-- Conteúdo Principal -->
    <main class="container mt-5">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <!-- Footer -->
    <%= render 'shared/footer' %>

    <!-- Scripts -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </body>
</html>
